extends ../layout

block content

    .container
        .progress(style="margin-bottom: 40px")
            .progress-bar(role="progressbar" style="width: 25%" data-toggle="popover" title="Sungshin_00325" data-content="And here's some amazing content")
            .progress-bar.bg-success(role="progressbar" data-toggle="popover" title="Dongapen_00145" style="width: 1.7%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="256")
            .Progress-bar.bg-secondary(role="progressbar" style="width: 60.4%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="256")
            .Progress-bar.bg-danger(role="progressbar" data-toggle="popover" title="HoyoungKim" style="width: 12.9%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="256")

    table.table.table-bordered.table-hover.table-striped.bg-white
        thead.thead-light
            tr
                th(scope="col") 영문명
                th(scope="col") 한글명
                th(scope="col") NAT IP
                th(scope="col") 비고
                

        tbody
            - each nat, i in nats

                tr.maintr
                    td
                        = nat.nateName
                    td
                        = nat.natkName
                    td
                        = nat.natIP
                    td
                        = nat.natTO

    .container
        a(href='/new')
            button.btn.btn-primary New
